<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/recuperar_contraseña_mensaje.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Inicio_sesion</title>
</head>
<body>
    {% include 'nav_inicio.html' %}
    <section class="sesiones">
        <div class="form-recuperar">
            <div class="form-value">
                <h2 class="login_titulo">Te hemos enviado un enlace al correo para restablecer la contraseña: <span>{{ email }}</span></h2>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
