
{% extends 'home.html'%}

{% block contenido%}
{%load static%}
<link rel="stylesheet" href="{% static 'bootstrap/css/cambiar_contraseña.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/p04.css'}">
<div class="main p-3">
    <div class="text-center">
                <div class="container">
             
                    <section class="sesion">
                        <div class="form-recuperar">
    
     
                            <h2 class="login_titulo">Recuperar contraseña</h2>

            
                    <form action="{% url 'personas:password_change' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label id="labels"for="id_old_password">Contraseña Actual</label>
                            <input type="password" name="old_password" id="id_old_password" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label id="labels" for="id_new_password1">Nueva Contraseña</label>
                            <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                Tu contraseña debe tener al menos 8 caracteres y no debe ser muy común.
                            </small>
                        </div>

                        <div class="form-group">
                            <label id="labels" for="id_new_password2">Confirmar Nueva Contraseña</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                        </div>

                        <button type="submit" class="boton_registro">Cambiar Contraseña</button>
                    </form>
                
            </div>
        </div>
    </div>
</div>


{% endblock contenido%}